<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- style -->
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="container">

			<div class="header d-flex justify-content-between align-content-center ">
				<h1>authApp</h1>
	
				<a href="/logout" class="btn">logout</a>
			</div>
	
			<h1>
				Hello Mr.<%= user.nom %>
			</h1>
		</div>
	</body>
</html>
