<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
    <h2>Login Form</h2>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="Your Password" required>
        <input type="submit" value="Login">
    </form>
    <div class="signup-link">
        <a href="/signup">signup</a>
    </div>
</div>
</body>
</html>